<ul>
  <li>
    IP address (stored separately)
  </li>
  <li>
    The time at which the request was made
  </li>
  <li>
    The web address accessed
  </li>
  <li>
    The browser identifier
  </li>
  <li>
    The referring page
  </li>
</ul>
