{#
  For each job opening you have to list the title and the name of the file under
  pages/jobs that contains the job description.
#}

{% block head %}
  <style>
    #tabs-openings .ui-tabs-nav-vertical
    {
      font-size: 16px;
    }
  </style>
{% endblock %}

{% set GREENHOUSE = 1 %}
{% set TALENTTRACKER = 2 %}
{% set EMAIL = 3 %}

{% set openings = [
  ("IT System Administrator", "it-system-administrator", GREENHOUSE, 866294),
  ("Javascript Developer - Microsoft Edge", "javascript-developer-microsoft-edge", GREENHOUSE, 931768),
  ("Translation Manager", "translation-manager", GREENHOUSE, 961789),
  ("Technical Support Analyst", "technical-support-analyst", GREENHOUSE, 907477),
  ("Filter List Supporter", "filter-list-supporter", GREENHOUSE, 907464),
  ("Whitelist Maintainer", "whitelist-maintainer", GREENHOUSE, 858624),
  ("Marketing Student Help", "marketing-student-help", GREENHOUSE, 891178),
  ("Student Help Acceptable Ads Monitoring", "student-help-acceptable-ads-monitoring", GREENHOUSE, 907475),
  ("Speculative Application", "speculative-application", GREENHOUSE, 907468),
] %}

{% set opening = openings|find(page.split("/")[-1], attribute=1) %}
{% set title = (opening or [title])[0] %}
{% set og_image = "https://eyeo.com/images/eyeo-meta-jobs.png" %}

<header class="page-title">
  <h1>Working at eyeo</h1>
</header>

<div id="jobs-info" class="content-block">
  <div id="tabs-openings" class="columns-container one-sidebar">
    <div class="column sidebar-left">
      <h3 class="heading centered"><span>Current openings:</span></h3>

      <ul class="ui-tabs-nav ui-tabs-nav-vertical">
        {% for opening in openings %}
          {% set title = opening[0] %}
          {% set file = opening[1] %}
          <li {% if file == page.split("/")[-1] %} class="ui-tabs-active" {% endif %}>
            {{("jobs/" + file)|linkify(class="ui-tabs-anchor")}}
              {{ title }}
              {% if file in german_openings %}
                <img src="/images/flags/germany.png" alt="German" width="15" height="10">
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>


      <div class="contact-person no-mobile">
        <? include jobs/contact ?>
      </div>

      <p id="hiring-badges" class="no-mobile">
        <img id="ihk-logo" src="/images/ihk.png" alt="IHK Ausbildungsbetrieb" width="120" height="80">
        <img id="fair-company-logo" src="/images/fair-company.png" alt="Fair Company" height="80">
      </p>
    </div>

    <div class="column">
      <div id="panels-openings" class="ui-tabs-panel">
        {% if opening %}
        <h2>{{ title }}</h2>
        {% endif %}
